# History files
.Rhistory
.Rapp.history

# DS store
.DS_Store

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# R project(s)
*.Rproj

# Data 
data/*
*.txt
make-psms/mdipp-1.0.1/.deps/csv.Po
make-psms/mdipp-1.0.1/.deps/csvpp.Po
make-psms/mdipp-1.0.1/.deps/interdataset.Po
make-psms/mdipp-1.0.1/.deps/mdi++.Po
make-psms/mdipp-1.0.1/.deps/shared.Po
make-psms/mdipp-1.0.1/autom4te.cache/output.0
make-psms/mdipp-1.0.1/autom4te.cache/output.1
make-psms/mdipp-1.0.1/autom4te.cache/requests
make-psms/mdipp-1.0.1/autom4te.cache/traces.0
make-psms/mdipp-1.0.1/autom4te.cache/traces.1
make-psms/mdipp-1.0.1/compile
make-psms/mdipp-1.0.1/config.guess
make-psms/mdipp-1.0.1/config.h
make-psms/mdipp-1.0.1/config.h.in
make-psms/mdipp-1.0.1/config.log
make-psms/mdipp-1.0.1/config.status
make-psms/mdipp-1.0.1/config.sub
make-psms/mdipp-1.0.1/configure
make-psms/mdipp-1.0.1/configure.ac
make-psms/mdipp-1.0.1/csv.c
make-psms/mdipp-1.0.1/csv.h
make-psms/mdipp-1.0.1/csv.hpp
make-psms/mdipp-1.0.1/csv.o
make-psms/mdipp-1.0.1/csvpp.cpp
make-psms/mdipp-1.0.1/csvpp.o
make-psms/mdipp-1.0.1/cuda/boxmuller.hpp
make-psms/mdipp-1.0.1/cuda/cudasampler.cu
make-psms/mdipp-1.0.1/cuda/cudasampler.hpp
make-psms/mdipp-1.0.1/cuda/cudasampler.o
make-psms/mdipp-1.0.1/cuda/datatypes.cu
make-psms/mdipp-1.0.1/cuda/datatypes.o
make-psms/mdipp-1.0.1/cuda/include/Random123/aes.h
make-psms/mdipp-1.0.1/cuda/include/Random123/array.h
make-psms/mdipp-1.0.1/cuda/include/Random123/ars.h
make-psms/mdipp-1.0.1/cuda/include/Random123/conventional/Engine.hpp
make-psms/mdipp-1.0.1/cuda/include/Random123/conventional/gsl_cbrng.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/clangfeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/compilerfeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/gccfeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/iccfeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/msvcfeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/nvccfeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/open64features.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/openclfeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/pgccfeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/sse.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/sunprofeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/features/xlcfeatures.h
make-psms/mdipp-1.0.1/cuda/include/Random123/gsl_microrng.h
make-psms/mdipp-1.0.1/cuda/include/Random123/MicroURNG.hpp
make-psms/mdipp-1.0.1/cuda/include/Random123/philox.h
make-psms/mdipp-1.0.1/cuda/include/Random123/ReinterpretCtr.hpp
make-psms/mdipp-1.0.1/cuda/include/Random123/threefry.h
make-psms/mdipp-1.0.1/cuda/libcudasampler.a
make-psms/mdipp-1.0.1/cuda/Makefile
make-psms/mdipp-1.0.1/cuda/Makefile.am
make-psms/mdipp-1.0.1/cuda/Makefile.in
make-psms/mdipp-1.0.1/cuda/oldMakefile
make-psms/mdipp-1.0.1/cuda/rgamma.hpp
make-psms/mdipp-1.0.1/cuda/samsrng.hpp
make-psms/mdipp-1.0.1/cuda/times.csv
make-psms/mdipp-1.0.1/cuda/uniform.hpp
make-psms/mdipp-1.0.1/datatypes.hpp
make-psms/mdipp-1.0.1/datatypes/.deps/bagofwords.Po
make-psms/mdipp-1.0.1/datatypes/.deps/gaussian.Po
make-psms/mdipp-1.0.1/datatypes/.deps/gaussianprocess.Po
make-psms/mdipp-1.0.1/datatypes/.deps/multinomial.Po
make-psms/mdipp-1.0.1/datatypes/bagofwords.cpp
make-psms/mdipp-1.0.1/datatypes/bagofwords.o
make-psms/mdipp-1.0.1/datatypes/gaussian.cpp
make-psms/mdipp-1.0.1/datatypes/gaussian.o
make-psms/mdipp-1.0.1/datatypes/gaussianprocess.cpp
make-psms/mdipp-1.0.1/datatypes/gaussianprocess.o
make-psms/mdipp-1.0.1/datatypes/libdatatypes.a
make-psms/mdipp-1.0.1/datatypes/Makefile
make-psms/mdipp-1.0.1/datatypes/Makefile.am
make-psms/mdipp-1.0.1/datatypes/Makefile.in
make-psms/mdipp-1.0.1/datatypes/multinomial.cpp
make-psms/mdipp-1.0.1/datatypes/multinomial.o
make-psms/mdipp-1.0.1/demo/bagwords.csv
make-psms/mdipp-1.0.1/demo/datagen.R
make-psms/mdipp-1.0.1/demo/gaussianprocess.csv
make-psms/mdipp-1.0.1/demo/multinom.csv
make-psms/mdipp-1.0.1/demo/normgam.csv
make-psms/mdipp-1.0.1/depcomp
make-psms/mdipp-1.0.1/docs/mdi_demo.ipynb
make-psms/mdipp-1.0.1/docs/using-mdi
make-psms/mdipp-1.0.1/INSTALL
make-psms/mdipp-1.0.1/install-sh
make-psms/mdipp-1.0.1/interdataset.cpp
make-psms/mdipp-1.0.1/interdataset.hpp
make-psms/mdipp-1.0.1/interdataset.o
make-psms/mdipp-1.0.1/LICENSE
make-psms/mdipp-1.0.1/macros/m4_ax_boost_base.m4
make-psms/mdipp-1.0.1/macros/m4_ax_boost_program_options.m4
make-psms/mdipp-1.0.1/macros/m4_ax_cxx_compile_stdcxx.m4
make-psms/mdipp-1.0.1/macros/m4_ax_cxx_compile_stdcxx_11.m4
make-psms/mdipp-1.0.1/Makefile
make-psms/mdipp-1.0.1/Makefile.am
make-psms/mdipp-1.0.1/Makefile.in
make-psms/mdipp-1.0.1/mcmc_01.csv
make-psms/mdipp-1.0.1/mdi++.cpp
make-psms/mdipp-1.0.1/mdi++.o
make-psms/mdipp-1.0.1/mdipp
make-psms/mdipp-1.0.1/missing
make-psms/mdipp-1.0.1/README
make-psms/mdipp-1.0.1/runtests.cpp
make-psms/mdipp-1.0.1/scripts/analysis.R
make-psms/mdipp-1.0.1/shared.cpp
make-psms/mdipp-1.0.1/shared.hpp
make-psms/mdipp-1.0.1/shared.o
make-psms/mdipp-1.0.1/slurm-24759158.out
make-psms/mdipp-1.0.1/slurm-24816486.out
make-psms/mdipp-1.0.1/stamp-h1
make-psms/mdipp-1.0.1/stats.hpp
make-psms/mdipp-1.0.1/aclocal.m4
make-psms/mdipp-1.0.1/utility.hpp
